<!-- <div class="row">
    <div class="col-4 offset-1">
      <div class="form-group">
     
        <h2>Find All Routes</h2>
      </div>
    </div> 
  </div>
  <form action="" method="post">
    <div class="row">
      <div class="col-4 offset-1">
        <div class="form-group">
          <label for="">From</label>
          <input type="text" class="form-control" name="from" [(ngModel)]="from" placeholder="From">
        </div>
      </div>
      <div class="col-4 offset-1">
        <div class="form-group">
          <label for="">To</label>
          <input type="text" class="form-control" name="to" [(ngModel)]="to" placeholder="To">
        </div>
      </div>
      <div class="form-group">
        <label>Submit</label>
        <button class="btn btn-success form-control" (click)="getDirections()">Submit</button>
      </div>
    </div>
  </form>
  <div #map style="width:100%;height:400px"></div>
 -->
<section class="back">
  <nav class="navbar navbar-expand-lg" style="background-color: #bfbac7;">
    <h3 class="m-2" style="font-family: Georgia, 'Times New Roman', Times, serif;justify-content: left,">Accident
      Informer</h3>
      <div class="social-menu">
        <ul>
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/explore"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
  </nav>
  
  <div class="row photo">
    <img src="../../assets/roadnew.jpg" style="width: 100%; height: 80vh;">
    <div class="centered"><h2 style ="font-family: Georgia, 'Times New Roman', Times, serif;color:black;
      text-shadow: 2px 2px 4px #000000;">Find Routes for a Smooth Ride......</h2> </div>
  </div>



</section>
<section>
  <div class="row">
    <div class="col-3">
      <img src="../../assets/directions.jpeg" alt="">
    </div>
    <div class="col-7 offset-1" style="margin-top: 25vh;">
      <h3>Finds low traffic paths so you reach your destination before time. This is especially a life saving concept
        for
        accident victims.</h3>
    </div>
  </div>
</section>
<br><br>
<section>
  <div class="row pb-3">
    <div class="col-4 offset-1">
      <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;justify-content: left,"> Get Directions</h2>
    </div>
  </div>
  <br>
  <form action="" method="POST">
    <div class="row px-3">
      <div class="col-3 offset-1">
        <div class="form-group">
          <div class="row">
            <div class="col-2">
              <h4 style="font-family: Georgia, 'Times New Roman', Times, serif;justify-content: left,"> From: </h4>
            </div>
            <div class="col-8 offset-md-1">
              <input type="text" class="form-control" id="inputPassword2" placeholder="From" name="from" [(ngModel)]="from">
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 offset-1">
        <div class="form-group">
          <div class="row">
            <div class="col-1">
              <h4 style="font-family: Georgia, 'Times New Roman', Times, serif;justify-content: left,"> To: </h4>
            </div>
            <div class="col-8 offset-md-1">
              <input type="text" class="form-control" id="inputPassword2" placeholder="To" name="to" [(ngModel)]="to">
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 offset-1">
        <div class="form-group">
          <button type="submit" class="btn btn-dark pr-3 submit-btn" (click)="getDirections()">Submit</button>
        </div>
      </div>
    </div>
  </form>
</section>
<br><br>
<section>
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="Maps">
        <div #map class="mapping" style="width:100%;height:400px"></div>
      </div>
    </div>
  </div>

</section>
<br><br>
<section>
  <h2 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;"> Accidents</h2>
  <div class="row">
    <div class="col-2 offset-md-2">
      <button class="submit-btn" (click)="reportAccident()">Report</button>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accident of accidents;let i=index">
        <th scope="row">{{ i }}</th>
        <td>{{ accident.location.lat }}</td>
        <td>{{ accident.location.long }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  

</section>
<!-- <app-report-accident></app-report-accident> -->